<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> 
    <a href='/' class='navbar-brand'>Welcome to Dispatch</a>
    </div>
    <div class="row"> 
      <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        <li>Signed in as <%= current_dispatcher.username %><%= link_to "Log out", session_path("current"), method: :delete %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-main">

  <div id="map"></div>
  <!-- <div class="row well well-lg">
    <div class="col-lg-10 col-lg-offset-1">
      <iframe class=".dispatch-view"
        width="100%"
        height="100%"
        align = "middle"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA9CNv2ZXkriArWSZvODA5o3Pmx86LEyDA
          &q=Whistler">
      </iframe>
    </div>
  </div> -->

  <div class='row text-center'>
    <div class='dispatch-alerts col-md-2 col-md-offset-2'>
      <div class="well">
        <h2>Alerts</h2>
        <h2>1</h2>
      </div>
    </div>
    <div class='dispatch-skiers col-md-2 col-md-offset-1'>
      <div class="well">
        <h2>Skiers</h2>
        <h2>8</h2>
      </div>
    </div>
    <div class='dispatch-ski-patrol col-md-2 col-md-offset-1'>
      <div class="well">
        <h2>Patrollers</h2>
        <h2>15</h2>
      </div>
    </div>
  </div>

  <div class="row-alert-skiers text-center">
    <div class="col-lg-10 col-lg-offset-1">
    <table class="table alerts-table table-hover table-inverse">
        <thead>
          <tr>
            <th>Alert Pin</th>
            <th>Name</th>
            <th>False Alarm?</th>
            <th>Alert Status</th>
            <th>Assigned Patroller ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">A</th>
            <td>John Doe</td>
            <td><input class="form-check-input" type="checkbox" value=""></td>
            <td>Active</td>
            <td>1</td>
            <td><button class='btn btn-danger'>Send to Patroller</button></td>
          </tr>
          <tr>
            <th scope="row">B</th>
            <td>Jill Doe</td>
            <td><input class="form-check-input" type="checkbox" value=""></td>
            <td>Active</td>
            <td>1</td>
            <td><button class='btn btn-danger'>Send to Patroller</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
$(function(){
  getAlerts();
  // setInterval(getAlerts, 5000);

  getPings();
  // setInterval(getPings, 5000);
})
</script>
<script>

  // globals
  var SkiPals = {};

  function initMap() {
    var centerCoord = {lat: 49.28189, lng: -123.10819}
    SkiPals.map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: centerCoord
    });
  };
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2zxf4HhsPxnaJeWLEleo_z13SFdVUi2Q&callback=initMap">
</script>

<!-- <footer>
  <small>
    Signed in as <%= current_dispatcher.username %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
  </small>
</footer> -->
