<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> 
    <a href='/' class='navbar-brand'>Welcome to Dispatch</a>
    </div>
    <div class="row"> 
      <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        <li>Signed in as <%= current_dispatcher.username %><%= link_to "Log out", session_path("current"), method: :delete %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-main">

  <div id="map"></div>

  <div class="row-alert-skiers text-center">
    <div class="col-lg-10 col-lg-offset-1">
    <table class="table alerts-table table-hover table-inverse">
        <thead>
          <tr>
            <th>Name</th>
            <th>Assigned Patroller ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="alert-body">
          <div id="alertData"></div>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script id="patroller-template" type="text/x-handlebars-template">
  <li><a href="#" data-alert-id="{{alert_id}}" data-patroller-id="{{patroller_id}}" class="patroller-assignment">{{patroller_id}}, {{patroller_name}}</a></li>
</script>

<script id="alert-template" type="text/x-handlebars-template">
  <tr>
    <td><a href="/skiers/{{skier_id}}">{{skier_name}}</a></td>
    <td><div class="dropdown"><button class="update-patroller-id-on-alert-object btn btn-primary dropdown-toggle" data-alert-id="{{alert_id}}" type="button" data-toggle="dropdown">Assign Patroller<span class="caret"></span></button>
      <ul id="assignment-list-{{alert_id}}" class="dropdown-menu">
      </ul>
      </div>
    </td>
   <!--  <td><button data-alert-id="{{alert_id}}" class="update-patroller-id-on-alert-object dropbtn">Assign Patroller ID</button></td> -->
    <!-- TODO  if patroller_id is null, render unassigned state (name, assignment dropdown,
    false alarm button) ELSE render assigned state ( name, assigned patroller_id, false alarm button, resolved button-->
    <td><button data-alert-id="{{alert_id}}" class="false-alarm-close btn btn-danger">False Alarm</button></td>
    <td><button data-alert-id="{{alert_id}}" class="resolved-closed btn btn-danger">Resolved</button></td>
  </tr>
</script>

<script>
$(function(){
  getAlerts();
  setInterval(getAlerts, 10000);  // TODO: Jeremy is crazy, set this back to 5000

  getPings();
  setInterval(getPings, 10000);
})
</script>
<script>

  // globals
  var SkiPals = {};

  function initMap() {
    var centerCoord = {lat: 49.28189, lng: -123.10819}
    SkiPals.map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: centerCoord
    });
  };
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2zxf4HhsPxnaJeWLEleo_z13SFdVUi2Q&callback=initMap">
</script>

<!-- <footer>
  <small>
    Signed in as <%= current_dispatcher.username %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
  </small>
</footer> -->
