<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> 
    <a href='/' class='navbar-brand'>Welcome to Dispatch</a>
    </div>
    <div class="row"> 
      <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        <li>Signed in as <%= current_dispatcher.username %><%= link_to "Log out", session_path("current"), method: :delete %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-main">

  <div id="map"></div>

  <div class="row-alert-skiers text-center">
    <div class="col-lg-10 col-lg-offset-1">
    <table class="table alerts-table table-hover table-inverse">
        <thead>
          <tr>
            <th>Alert Pin</th>
            <th>Name</th>
            <th>False Alarm?</th>
            <th>Alert Status</th>
            <th>Assigned Patroller ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="alert-body">
        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
$(function(){
  getAlerts();
  // setInterval(getAlerts, 5000);

  getPings();
  // setInterval(getPings, 5000);
})
</script>
<script>

  // globals
  var SkiPals = {};

  function initMap() {
    var centerCoord = {lat: 49.28189, lng: -123.10819}
    SkiPals.map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: centerCoord
    });
  };
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2zxf4HhsPxnaJeWLEleo_z13SFdVUi2Q&callback=initMap">
</script>

<!-- <footer>
  <small>
    Signed in as <%= current_dispatcher.username %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
  </small>
</footer> -->
